{% extends "field_app/base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Данные владельца</title>
</head>
<body>
    <h1>Данные владельца</h1>
    <form method="post">
        {% csrf_token %}
        <label for="id_name">Имя владельца:</label>
        <input type="text" id="id_name" name="name" value="{{ owner.name }}" required>

        <label for="id_address">Адрес:</label>
        <input type="text" id="id_address" name="address" value="{{ owner.address }}">

        <label for="id_contact">Контактные данные:</label>
        <input type="text" id="id_contact" name="contact" value="{{ owner.contact }}" required>

        <input type="submit" value="Сохранить">
    </form>
</body>
</html>

{% endblock %}